[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
balanced_wrapping = true
default_section = "THIRDPARTY"
force_grid_wrap = 0
include_trailing_comma = true
known_first_party = "pytest_cache_assert"
length_sort = false
line_length = 120
multi_line_output = 5

[tool.calcipy.test]
pythons = ["3.7", "3.9"]
args_diff = "--fail-under=85"

[tool.commitizen]
name = "cz_conventional_commits"
version = "0.0.1"
tag_format = "2021.$version"
version_files = [
    "pyproject.toml",
    "pytest_cache_assert/__init__.py",
    "appveyor.yml",
]

[tool.poetry]
name = "pytest_cache_assert"
version = "0.0.1"
description = "Cache assertion data to simplify regression testing of complex serializable data"
license = "MIT"
authors = ["Kyle King <dev.act.kyle@gmail.com>"]
maintainers = []
repository = "https://github.com/kyleking/pytest_cache_assert"
documentation = "https://github.com/kyleking/pytest_cache_assert/docs"
readme = "docs/README.md"
include = ["LICENSE.md"]
keywords = []
classifiers = [
    "Development Status :: 4 - Beta",
    "Framework :: Pytest",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Topic :: Software Development :: Testing",
] # https://pypi.org/classifiers/

[tool.poetry.plugins."pytest11"]
# Register as a Pytest Plugin
# Docs: https://docs.pytest.org/en/latest/how-to/writing_plugins.html#making-your-plugin-installable-by-others
pytest_cache_assert = "pytest_cache_assert.plugin"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/kyleking/pytest_cache_assert/issues"

[tool.poetry.dependencies]
python = "^3.7"
attrs-strict = ">=0.2"
beartype = ">=0.9.0"
dictdiffer = ">=0.9"
pendulum = "^2.1.2"
pytest = ">=5"

[tool.poetry.dev-dependencies]
calcipy = { version = ">=2021.0.6.0rc0", extras = [
    "dev",
    "lint",
    "test",
], python = "^3.8", allow-prereleases = true }
cerberus = ">=1.3.4"
pydantic = ">=1.8.2"
